<gd-window [Config]="gdWindowDefualt"> 
    <div [ngStyle]="{ 
        'overflow' : 'hidden', 
        'padding'  : '2px 4px' 
      }">
      <br>
      <b>Window exapmple defined in template</b><br>
      <br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
    </div>
</gd-window>