<gd-window #myWindow [Config]="myWindowConfig"> 
    <div [ngStyle]="{ 
        'overflow' : 'hidden', 
        'padding'  : '2px 4px' 
      }">
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
      Some plain test or html or Component<br>
    </div>
</gd-window>